<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h1>Login</h1>

    {{#if message}}
    <div class="alert alert-danger alert-dismissible">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message}}
    </div>
    {{/if}}

    <form method="POST">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button class="btn btn-success">Login</button>
    </form>

  </div>
</div>