<div class="starter-template">
  <p class="lead">What is happening?</p>
</div>

<div class="col-md-6 offset-md-3">
  <form id="sendTweet">
    <input type="text" class="form-control" id="tweet">
    <br />
    <button class="btn btn-primary">Tweet</button>
  </form>

  <br />
  <br />

  <div id="tweets">
    {{#each tweets}}
    <div class="media">
      <a class="pr-3" href="#">
        <img src="{{owner.photo}}" alt="{{owner.name}}" class="media-object">
      </a>
      <div class="media-body">
        <h4 class="mt-0">{{owner.name}}</h4>
        <p>{{ content }}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>