<div class="starter-template">
  <h1>Join and Follow</h1>
  <p class="lead">It's free and always will be, sign up now and enjoy a new social experience.</p>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6 offset-md-3">
    <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
  </div>
</div>